.header{
    margin: 0;
    padding: 0;
}
.header .Logo img{ 
    height: 44px;
    width: 150px;
    margin-top: 15px;
}
.header .nav ul li{
    margin-top: 25px;
    list-style: none;
}
.header .nav{
    margin-left: -80px
}
.header .col-md-3 .nav{
    margin-right: -80px
}
.header .text .col-md-3 ul li{
    display: inline-block;
    list-style: none;
    margin-top: 25px;
}
.header button{
    margin-top: 15px;
    height: 40px;
    width: 150px;
    background-color: #6161ff;
    color: #ffffff;
    border-radius: 30px;
    border: #ffffff;
}
.Go .text h1{
    font-size: 4rem;
    margin-top: 100px;
    text-align: center;
    line-height: 72px;
    font-weight: 700;
}
.Go .text h2{
    margin-top: 20px;
    text-align: center;
    font-size: 1.375rem;
    line-height: 40px;

}
body{
    margin: 0;
    padding: 0;
  }
  .tabs .Work{
    margin-left: 200px;
  }
  .tabs .Work .logo img{
    width: 45px;
    height: 45px;
  }
  .tabs .Work h2{
    font-size: 18px;
  }
  .tabs .Work p{
    margin-top: -10px;
    font-size: 15px;
  }
  .tabs .Work .text{
    margin-top: -43px;
    margin-left: 220px;
  }
  .tabs .Sales .logo img{
    width: 45px;
    height: 45px;
  }
  .tabs .Sales h2{
    font-size: 18px;
    margin-left: -90px;
  }
  .tabs .Sales p{
    margin-top: -10px;
    font-size: 15px;
  }
  .tabs .Sales .text{
    margin-top: -43px;
    margin-left: 240px;
  }
  .tabs .Dev .logo img{
    width: 45px;
    height: 45px;
  }
  .tabs .Dev h2{
    font-size: 18px;
    margin-left: -140px;
  }
  .tabs .Dev p{
    margin-top: -10px;
    font-size: 15px;
  }
  .tabs .Dev .text{
    margin-top: -43px;
    margin-left: 240px;
  }
  button{
    margin-left: 500px;
}
.checkBox .Checkbox .box{
    border: 1px solid black;
    width: 130px;
    border-radius: 10px;
    height: 150px;
    margin-top: 30px;
}
.col-md-1{
    margin-left: 40px;
    margin-top: 50px;
}
.checkBox .Checkbox .text{
    text-align: center;
    margin-top: -10px;
}
.checkBox .Checkbox .wrapper{
    margin-left: 10px;
    margin-top: 5px;
}
.checkBox .Checkbox .logo{
    margin-left: 18px;
    margin-top: -10px;
}
.line{
    height: 0.5px;
    width: 1000px;
    background-color: black;
    margin-bottom: 30px;
    margin-left: 110px;
}
.tabs .button button{
    margin-top: 20px;
    height: 60px;
    width: 300px;
    background-color: #6161ff;
    color: #ffffff;
    border-radius: 30px;
    border: #ffffff;
}
.tabs .button{
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.LOGO .logo img{
    width: 80px;
}
.LOGO .col-md-1{
    margin-left: 25px;
    margin-top: 25px;
}
.LOGO .col-md-2 img{
}
.Step{
  background-color: rgb(240, 243, 255);
}
.Step .TEXT{
  margin-top: 50px;
}
.Step .TEXT h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Step .Border .container{
  border: 1px solid white;
  background-color: #ffffff;
  border-radius: 20px;
}
.Step .Border .nav{
  color: black;
  margin-top: 50px;
  margin-left: 30px;
}
.Step .Border .nav h3{
  font-size: 20px;
}
.Step .Border .nav p{
  font-size: 12px;
  margin-top: -10px;
}
.Step .Border .nav .text{
  margin-left: 10px;
}
.Step .Border .container h2{
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.Step .Border .container .line{
  margin: 20px;
  width: 500px;
}
.Step .Border .container .Top{
  margin-left: 30px;
  margin-top: 10px;
}
.Step .Border .container .button1 button{
  margin-top: 30px;
  height: 38px;
  width: 150px;
  background-color: #6161ff;
  color: #ffffff;
  border-radius: 30px;
  border: #ffffff;
}
.Step .Border .container .button1{
  margin-left: 30px;
}
.Step .Border .container .Image{
  margin-top: 40px;
  margin-left: 47px;
  margin-bottom: 50px;
}
.borderTwo .container .border{
  border: 1px solid white;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 50px;
}
.borderTwo .container .border .nav{
  color: black;
  margin-top: 50px;
  margin-left: 30px;
}
.borderTwo .container .border .nav h3{
  font-size: 20px;
}
.borderTwo .container .border .nav p{
  font-size: 12px;
  margin-top: -10px;
}
.Step .borderTwo .container .text{
  margin-left: 30px;
}
.borderTwo .container .border .line{
  margin-left: 30px;
  width: 550px;
  margin-top: 20px;
}
.Step .borderTwo .container .button2 button{
  margin-top: 30px;
  height: 38px;
  width: 150px;
  background-color: #6161ff;
  color: #ffffff;
  border-radius: 30px;
  border: #ffffff;
}
.Step .borderTwo .container .button2{
  margin-left: 30px;
}
.Step .borderTwo .container .Image{
  margin-top: 30px;
  margin-bottom: 30px;
}

